
.Container {
  width: 100%; 
  height: auto;
  margin: 0; 
  position: relative;
  }
  
  .Container > .Content {
    width: 100%; 
    padding: 20px; 
    color: #f1f1f1;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px
  }
  .Container > img{
      width: 100%;
      height: 100%;
      object-fit:cover;
      border-radius: 10px;
  }
  .Container > .Content > h3 {
    text-align: center;
  }